@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Roboto:100');

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	background-color: #ffffff;
	color: #000066;
	line-height: 1.5em;
}

nav a{
	text-transform: uppercase;
	color: inherit;
	text-decoration: none;
	font-size: 25px;
	line-height: 1.5em;
  	margin: 2em;
}

h1{
	padding: 80px;
	font-size: 90px;
}

h2{
	text-align:center;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

#header{
	color: #ffffff;
	text-align: center;
	background-image: url("../images/peace.jpg");
	background-size: cover;
	padding: 40px;
}

#slogan{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 18px;
}

#instagram{
	color: inherit;
	text-decoration: underline;
}

#bottom{
	text-align: center;
	color: inherit;
	text-decoration: none;
	text-align: left;
	padding: 60px;
}

#contact{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

#footer{
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	font-size: 20px;
}
